:root {
    --sort-button-blue: rgb(99, 99, 243);
    --price-button-blue: rgb(94, 163, 206);
}

.aside {
    position: fixed;
    height: 90%;
    left: 0;
    bottom: 0;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 5px;
    border-left: black;
    box-shadow: 0px 10px 0px 1px;
}

.aside h2 {
    font-weight: 500;
}

.aside h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.sort-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-bottom: 10px;
    box-shadow: 0px 1px 0px 0px;
}

.sort-button {
    height: 25px;
    width: 59px;
    padding: 1px;
    background-color: transparent;
    border-radius: 25px;
    border-color: gray;
}

.sort-button.active {
    border-color: var(--sort-button-blue);
}

.sort-button-inner {
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
}

.sort-button-inner.active {
    float: right;
    background-color: var(--sort-button-blue);
}

.aside__price-button {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border-color: var(--price-button-blue);
    background-color: var(--price-button-blue);
    color: white;
    border-width: 2px;
}

.aside__global-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}